# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\A0421I1_Tran_Quoc_Nha\A0421I1-TranQuocNha\module4\b2_string_controller\thuc_hanh\b2_validate_email_gradle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
