<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{/Layout::_menuTop}"></nav>
<div th:insert="~{/Layout::_leftMenu}"></div>
<div id="layoutSidenav_content" style="margin-left: 250px;margin-top: 80px;margin-bottom: 50px;">
  <div class="alert alert-danger alert-dismissible" th:if="${msg}">
    <p th:if="${msg}" th:text="${msg}"></p>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <main>
    <form method="post" action="/employee/create" th:object="${employee}" id="create"
          style="width: 1000px;margin-right: auto;margin-left: auto">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="acc">Account name</label>
          <input type="text" th:field="*{user.userName}" class="form-control" id="acc">
          <span style="color:red;" th:if="${#fields.hasErrors('user.userName')}"
                th:errors="*{user.userName}">Name Error</span>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mk">Password</label>
          <input type="password" th:field="*{user.password}" class="form-control" id="mk">
          <span style="color:red;" th:if="${#fields.hasErrors('user.password')}"
                th:errors="*{user.password}">Name Error</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="idCus">Employee's ID</label>
          <input type="text" th:field="*{employeeId}" class="form-control" id="idCus">
          <span style="color:red;" th:if="${#fields.hasErrors('employeeId')}"
                th:errors="*{employeeId}">Name Error</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="inputState11">Employee's name</label>
          <input type="text" th:field="*{employeeName}" class="form-control" id="inputState11">
          <span style="color:red;" th:if="${#fields.hasErrors('employeeName')}"
                th:errors="*{employeeName}">Name Error</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState12">Employee's Divison</label>
          <select style="height: 38px;" th:field="*{division.divisionId}"
                  id="inputState12" class="form-control">
            <option th:each="type : ${listDivision}" th:value="${type.divisionId}"
                    th:text="${type.divisionName}"></option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="position">Employee's Position</label>
          <select style="height: 38px;" th:field="*{position.positionId}"
                  id="position" class="form-control">
            <option th:each="position : ${listPosition}" th:value="${position.positionId}"
                    th:text="${position.positionName}"></option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="degree">Employee's Degree</label>
          <select style="height: 38px;" th:field="*{educationDegree.educationDegreeId}"
                  id="degree" class="form-control">
            <option th:each="degree : ${listDegree}" th:value="${degree.educationDegreeId}"
                    th:text="${degree.educationDegreeName}"></option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="address">Address</label>
          <input type="text" th:field="*{employeeAddress}" class="form-control" id="address">
          <span style="color:red;" th:if="${#fields.hasErrors('employeeAddress')}"
                th:errors="*{employeeAddress}">Name Error</span>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="email">Email</label>
          <input type="text" th:field="*{employeeEmail}" class="form-control" id="email">
          <span style="color:red;" th:if="${#fields.hasErrors('employeeEmail')}"
                th:errors="*{employeeEmail}">Name Error</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="idCard">Id Card</label>
          <input type="text" th:field="*{employeeIdCard}" class="form-control" id="idCard">
          <span style="color:red;" th:if="${#fields.hasErrors('employeeIdCard')}"
                th:errors="*{employeeIdCard}">Name Error</span>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="phone">Phone</label>
          <input type="number" th:field="*{employeePhone}" class="form-control" id="phone">
          <span style="color:red;" th:if="${#fields.hasErrors('employeePhone')}"
                th:errors="*{employeePhone}">Name Error</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="dof">Date of birth</label>
          <input type="date" th:field="*{employeeBirthday}" class="form-control" id="dof"/>
          <span style="color:red;" th:if="${#fields.hasErrors('employeeBirthday')}"
                th:errors="*{employeeBirthday}">Name Error</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="salary">Salary</label>
          <input type="number" th:field="*{employeeSalary}" class="form-control" id="salary"/>
          <span style="color:red;" th:if="${#fields.hasErrors('employeeSalary')}"
                th:errors="*{employeeSalary}">Name Error</span>
        </div>
      </div>

      <button type="button" style="margin-bottom: 50px" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add
      </button>
      <a href="/customer/list" style="margin-bottom: 50px" class="btn btn-warning">Back to list</a>
    </form>
  </main>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure to add this employee?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="submitCreate()">Add now</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<footer th:replace="~{/layout::_footer}"></footer>
<script>
  function submitCreate() {
    <!-- để submit form delete  -->
    document.getElementById("create").submit();
  }
</script>
</body>
</html>