<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="layoutSidenav_content">
    <main>
        <form method="post" action="/employee/create" th:object="${employee}" id="create"
              style="width: 1000px;margin-right: auto;margin-left: auto">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="acc">Account name</label>
                    <input type="text" th:field="*{user.userName}" class="form-control" id="acc">
                    <span style="color:red;" th:if="${#fields.hasErrors('user.userName')}"
                          th:errors="*{user.userName}">Name Error</span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="idCus">Employee's ID</label>
                    <input type="text" th:field="*{employeeId}" class="form-control" id="idCus">
                    <!--                    <span style="color:red;" th:if="${#fields.hasErrors('employeeId')}"-->
                    <!--                          th:errors="*{employeeId}">Name Error</span>-->
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputState11">Employee's name</label>
                    <input type="text" th:field="*{employeeName}" class="form-control" id="inputState11">
                    <!--                    <span style="color:red;" th:if="${#fields.hasErrors('employeeName')}"-->
                    <!--                          th:errors="*{employeeName}">Name Error</span>-->
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputState12">Employee's Divison</label>
                    <select style="height: 38px;" th:field="*{division.divisionId}"
                            id="inputState12" class="form-control">
                        <option th:each="type : ${listDivision}" th:value="${type.divisionId}"
                                th:text="${type.divisionName}"></option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="position">Employee's Position</label>
                    <select style="height: 38px;" th:field="*{position.positionId}"
                            id="position" class="form-control">
                        <option th:each="position : ${listPosition}" th:value="${position.positionId}"
                                th:text="${position.positionName}"></option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="degree">Employee's Degree</label>
                    <select style="height: 38px;" th:field="*{educationDegree.educationDegreeId}"
                            id="degree" class="form-control">
                        <option th:each="degree : ${listDegree}" th:value="${degree.educationDegreeId}"
                                th:text="${degree.educationDegreeName}"></option>
                    </select>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="address">Address</label>
                    <input type="text" th:field="*{employeeAddress}" class="form-control" id="address">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="text" th:field="*{employeeEmail}" class="form-control" id="email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="idCard">Id Card</label>
                    <input type="text" th:field="*{employeeIdCard}" class="form-control" id="idCard">
                    <!--                    <span style="color:red;" th:if="${#fields.hasErrors('customerIdCard')}"-->
                    <!--                          th:errors="*{customerIdCard}">Name Error</span>-->
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="phone">Phone</label>
                    <input type="number" th:field="*{employeePhone}" class="form-control" id="phone">
                    <!--                    <span style="color:red;" th:if="${#fields.hasErrors('customerPhone')}"-->
                    <!--                          th:errors="*{customerPhone}">Name Error</span>-->
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dof">Date of birth</label>
                    <input type="date" disabled="disabled" th:field="*{employeeBirthday}" class="form-control" id="dof"/>
                    <!--                    <span style="color:red;" th:if="${#fields.hasErrors('customerBirthday')}"-->
                    <!--                          th:errors="*{customerBirthday}">Name Error</span>-->
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="salary">Salary</label>
                    <input type="number" th:field="*{employeeSalary}" class="form-control" id="salary"/>
                    <!--                    <span style="color:red;" th:if="${#fields.hasErrors('customerBirthday')}"-->
                    <!--                          th:errors="*{customerBirthday}">Name Error</span>-->
                </div>
            </div>
        </form>
    </main>
</div>
</body>
</html>