<a [routerLink]="['/student/create']">Create student</a>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Point</th>
    <th>Rank</th>
    <th>Edit</th>
    <th>Detail</th>
  </tr>
  <!--  <tr th:each="${item}" var="">-->
  <!--  for(Student student: studentList)-->
  <tr *ngFor="let student of studentList">
    <td>{{student.id}}</td>
    <td>{{student.name| uppercase}}</td>
    <td>{{student.dateOfBirth | date: "yyyy-MM-dd"}}</td>
    <td>{{student.point}}</td>
    <td *ngIf="student.point >=9">Giỏi</td>
    <td *ngIf="student.point <9">Khá</td>
    <td></td>
    <td (click)="detailStudent(student)">Detail</td>
  </tr>
</table>
<!--<app-student-info></app-student-info>-->
