# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\A0421I1_Tran_Quoc_Nha\A0421I1-TranQuocNha\module3\b10.JSPvaJSTL\bai_tap\b1_list_customer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
