# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\A0421I1_Tran_Quoc_Nha\A0421I1-TranQuocNha\module4\b1_Tong_quan_Spring_MVC\thuc_hanh\b2_quan_ly_danh_sach_khach_hang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
