<div >
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-info">
    <a class="navbar-brand m-2" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr0swx7qSzBHEcu4rHCAujUpGPlcFhmdWiHg&usqp=CAU" width="60" height="60" class="d-inline-block align-top img-thumbnail" alt="">
    </a>
    <h2 class=" text-warning  mx-auto">New Link</h2>
  </nav>
</div>
<div >
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <div class="col-12 m-auto text-center ">
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <a class="navbar-brand text-warning" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-warning" href="/employees">Add Article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="/services/create-service">List Articke</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</div>
